@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" ); 
*{
    box-sizing: border-box;
}

body{
    background-size: cover;
    background-image: url('./1_unsplash.jpeg');
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins",sans-serif;
    min-height: 100vh;
    background-position: center center;
    margin: 0;
}
h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
}
.countdown-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.big-text{
    font-size: 6rem;
    font-weight: bold;
    line-height: 1;
    margin: 0rem 0rem;
    padding: 2rem;
}
.countdown-el{
    text-align: center;
}
.countdown-el span{
    font-size: 1.5rem;
    padding: 1rem;
    
}